.button {
}

.disabled {

}

.secondary {
}

.default {
}

.red {

}

.default:hover {
    background-color: cornflowerblue;
}

.red:hover {
    background-color: #cc0000;
}

.secondary:hover {
    background-color: #cc9c00;
}


.default:active {

}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
